@font-face {
    font-family: Playfair;
    src: url(PTSans-Regular.ttf);
}

html, body{
    font-family: Playfair;
    color: #D8DBE2;
    background-color: #06070E;
    margin: 0px;
    padding: 0px;

    height: 100%;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
     position: relative;
}

.t{
    font-size: 10px;
}

.btn{
    border: none;
    border-radius: 15px;
    color: #D8DBE2;
    background-color: #D7263D;
    width: 200px;
    height: 50px;
    font-size: 20px;
}


.h1{
    background-color: transparent;
    border: none;
    color:#D8DBE2;;
}
